body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 190, 241);
}

.main-body {
  width: 600px;
  border: 1px solid;
  border-color: black;
  border-radius: 6px;
  margin: 25px auto;
  background-color: rgb(211, 252, 255);
}

.input-body {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid;
}

.input {
  width: calc(100% - 50px);
  height: 45px;
  padding-left: 15px;
  padding-right: 5px;
  border: none;
  outline: 0;
  outline-offset: 0;
  background: transparent;
}

.search-button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.second-body {
  display: flex;
  flex-wrap: wrap;
}

.pogoda-body {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 50%;
}

.temp-body {
  margin-top: 25px;
  margin-left: 25px;
  font-size: 60px;
  font-weight: bold;
  font: Roboto;
}

.weather-body {
  margin-left: 30%;
}

.weather-image {
  width: 100px;
  height: 100px;
}

.city-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.city-label {
  font-size: 25px;
  font-weight: bold;
  margin-right: 30px;
}

.unlike-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(/day26/images/heart2.svg);
}

.like-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(/day26/images/heart3.svg);
}

.add-loc-body {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  border-left: 1px solid;
}

.add-location {
  padding-left: 10px;
  font-size: 24px;
  padding: 10px;
  font: bold;
}

.added-location {
  list-style-type: none;
  height: 100%;
  border-top: 1px solid;
}

.city {
  display: flex;
  position: relative;
  font-size: 24px;
  margin: 7px 10px;
}

.new-liked-city {
  cursor: pointer;
}

.delete-button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0%;
  border: none;
  color: transparent;
  background-image: url(/day26/images/cross2.svg);
  cursor: pointer;
}
